/* feature */
.feature__list {
  display: flex;
}

.feature__item {
  flex-basis: calc(100% - 4 * var(--list-gap) / 4);
}

.feature__item + .feature__item {
  margin-left: var(--list-gap);
}

/* h3 оформление-1 */
.feature__title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* p - оформление-1 */
.feature__text {
  font-size: 14px;
  line-height: 1.71;
}

.feature__icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}
