.page-header {
  position: relative;
}

.page-header .container {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--border-under-header);
    width: 100%;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
}
