/* footer-contacts */
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.city-link {
  color: var(--secondary-text-color);
}

.mail-link,
.phone-link {
  color: var(--footer-text-color);
}
