/* .logo-web */
.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* WebStudio - черный цвет */
.logo__studio--accent-black {
  color: var(--logo-black-color);
}

/* WebStudio - белый цвет */
.logo__studio--accent-white {
  color: var(--secondary-text-color);
}
