/* -------------form-footer------------------ */
.sign-up__field {
  margin-left: 93px;

  display: flex;
  align-items: flex-start;
}

.sign-up-label {
  margin-bottom: 0;
  margin-left: 151px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.sign-up__input {
  width: 358px;
  height: 50px;

  padding-left: 16px;

  letter-spacing: 0.03em;
  line-height: 1.25px;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bg-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    // background-color: var(--accent-color);
  }
}

.sign-up__button {
  position: relative;

  width: 200px;
  min-height: 50px;

  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
}

.sign-up__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
